* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --DarkText: hsl(229, 25%, 31%);
    --ScoreText: hsl(229, 64%, 46%);
    --HeaderOutline: hsl(217, 16%, 45%);
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    /* Radial-Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%) */
    background-image: radial-gradient(at top, hsl(214, 47%, 23%),hsl(237, 49%, 15%)) ;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    position: relative;
   
    
    
}

img {
    overflow: visible;
}

.head-wrapper {
    margin: 0 auto;
    padding:10px 20px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid hsl(217, 16%, 45%);
    max-width: 70%;
    border-radius: 10px;
    min-width: 300px;
}

.head-wrapper img {
    min-width:80px;
    max-width: 30%;
}

.score {
    background-color:white;
    width: 60px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
}

.score p {
    font-size: 1em;
    color: hsl(229, 64%, 46%);
    letter-spacing: 1px;
    font-weight: 600;
}
.score span {
    font-size: 1.8em;
    color: hsl(229, 25%, 31%);
}
.container {
    
    min-width:300px;
    max-width: 400px;
    margin: 50px auto;
    height: auto;
    position: relative;
    padding: 30px 0px ;
   /*  display: none; */
    margin-bottom: 20px;
    
   
}

.rock img {
    width: 100%;
    border-radius: 50%;
    padding: 10px;
}

.paper img {
    width: 100%;
    border-radius: 50%;
    padding: 10px;
}
.scissors img {
    width: 100%;
    border-radius: 50%;
    padding: 10px;
}


.scissors{
   
    text-align: center;
    min-width: 40px;
    
    padding: 20px;
    border-radius: 100%;
    background-color: white;
    outline: 10px solid  rgb(211, 187, 32);
    transition: 0.3s;
    grid-column: 3;
    margin-right: 10px;

}
.paper {
    margin-right: 55px;
    min-width: 40px;
    margin-bottom: 10px;
    text-align: center;
    padding:20px 22px;
    border-radius: 100%;
    background-color: white;
    outline: 10px solid;
    outline-color: rgb(75, 112, 247) ;
    transition: 0.3s;
    margin-left: 10px;
}
.rock {

    min-width: 40px;
    margin-top: 30px;
    text-align: center;
    padding: 1em ;
    border-radius: 100%;
    background-color: white;
    outline: 10px solid rgb(226, 77, 77);
    transition: 0.3s;
    grid-column: 2;
}
.paper:hover {
    transform:scale(1.1);
}
.scissors:hover {
    transform:scale(1.1);
}
.rock:hover {
    transform:scale(1.1);
}

.intermediate {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    margin: 0 20px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* display: none; */

    margin-bottom: 50px;
    
}

.intermediate::after{
    content:"";
    min-width:150px;
    max-width: 100%;
    height: 70%;
    background-image: url(images/bg-triangle.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    top: 50px;
}


/* Advanced */

.advanced {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    min-width: 300px;
    max-width: 100%;
    place-content: center;
    row-gap: 30px;
    margin: 0 auto;
    display: none;
    background-image: url(images/bg-pentagon.svg);
    background-position: center;
    background-repeat: no-repeat;
    
}



.lizard img , .spock img , .advanced-rock img , .advanced-paper img,.advanced-scissors img{
    min-width: 25%;
    border-radius: 50%;
    text-align: center;
}

.advanced-rock {
    width: 100px;
    border-radius: 50%;
    border: 10px solid rgb(240, 74, 74);
    background-color: white;
    padding-top: 15px;
    grid-row: 3;
    grid-column: 6/span 6;
    text-align: center;
    transition: 0.5s;
}
.advanced-paper {
    width: 100px;
    border: 10px solid rgb(11, 100, 232);
    background-color: white;
    border-radius: 50%;
    text-align: center;
    place-content: center;
    grid-row: 2;
    grid-column: 7/span 8;
    padding: 10px 5px;
    transition: 0.5s;
}
.advanced-scissors{
    width: 100px;
    border: 10px solid  rgb(218, 215, 61) ;
    grid-column: 4 /span 6 ;
    background-color: white;
    place-content: center;
    padding: 10px ;
    border-radius: 50%;
    text-align: center;
    transition: 0.5s;
}

.lizard {
    width: 100px;
    border: 10px solid rgb(156, 13, 223);
    padding: 5px 10px;
    border-radius: 50%;
    background-color: white;
    grid-row: 3;
    grid-column:2/span 5 ;
    padding: 10px;
    transition: 0.5s;
}

.spock {
    width: 100px;
    border: 10px solid rgb(128, 230, 238);
    border-radius: 50%;
    background-color: white;
    grid-row: 2;
    grid-column: 1/span 3;
    padding: 10px 0;
    padding-left: 20px;
    margin-right: 5%;
    transition: 0.5s;
}

.spock:hover {
    transform: scale(1.1);
}
.lizard:hover {
    transform: scale(1.1);
}
.advanced-paper:hover {
    transform: scale(1.1);
}
.advanced-rock:hover {
    transform: scale(1.1);
}
.advanced-scissors:hover {
    transform: scale(1.1);
}

.btn {
    margin: 20px auto;
    text-align: center;
    margin-bottom: 0;
    
    
}
.btn button {
    margin: 10px 5px;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    transition: 0.5s;
    font-size: 10px;   
}
.btn button:hover {
    transform: scale(1.1);
}

.compete {
    margin: 0 auto;
   /*  display: grid; */
    /* grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(2,0.5fr);
    gap: 40px; */

    margin-bottom: 0;
    margin: 40px auto;
    min-width: 300px;
    max-width: 60%;
    padding: 20px 10px;
    text-align: center; 
    align-items: center;
    display: none;
    
}

.hand-wapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    margin: 0 auto;
}

.picked-div {
    width: 100px;
    margin: 30px auto;
}
.picked-div img{

        padding: 25px;
        outline: 10px solid rgb(72, 132, 229);
        border-radius: 50%;
        background-color: white;
        width: fit-content;
        
        
}
.random{
    width: 100px;
    margin: 30px auto;
}
.handpicked h3 {
    margin-top:10px ;
}
.handpicked h3,
.generated-hand h3 {
    margin: 20px;
    font-size: 1em;
    color: white;
}

.generated-hand img {
    border: 10px solid white;
    outline: 10px solid green;
    padding: 15px;
    border-radius:50% ;
    width:fit-content;
    background-color: white;
    
}



.result {
    grid-row: 2;
    grid-column:1/span 2;
}
.result h1 {
    margin: 10px 0;
    color: white;
    font-size: 3.5rem;
}
.result button {
    padding: 10px 50px;
    font-size: 16px;
    text-transform: uppercase;
    margin: 20px 0;
    border-radius: 10px;
    color: hsl(229, 25%, 31%);
    border: none;
   transition: 0.3s;
}
.result button:hover {
    transform:scale(1);
    font-weight: 700;
}

.Rules-container {
    min-width: 100%;
    margin: 20px auto;
    height: 100vh;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    place-items: center;
    position: absolute;
    top: 0;
    margin-top: 0;  
    display: none;
    
}


.Rules-container header h2 {
    color:var(--DarkText) ;
    font-size:2em;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    grid-area: 'header';
    margin: 20px 0;
}

.Rules-container header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    height: 100vh;
    margin: 0 auto;
    padding-top:100px ;
    padding-bottom:80px ;
    
}

.cross{
    width: 20px;
    height: 20px;
    margin: 90px;
}

.rules-wapper {
    background-color: white;
    border-radius: 10px;
    min-width: 300px;
    height: 100%;
   
}
.rules {
    width: 300px;
    height: 200px;
}
.rules img {
    width: 100%;
}


.advanced-rules-wapper {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    padding-top: 20%;
    
}
.ad-rules img {
    margin: 10% auto;
    width: 240px;
}
.ad-cross {
    margin: 20px auto;
}

.advanced-rules-wapper header h2 {
    letter-spacing: 2px;
    text-transform:uppercase;
    color: var(--DarkText);
    font-size: 2em;
}
.btn {
    position: relative;
}

.changebtn:hover {
    background-color: white;
    color: var(--DarkText);
}

.rules-btn:hover {
    background-color: white;
    color: var(--DarkText);
}
/* js styles */


.picked-div #winner {
    border-color:rgb(161, 233, 235) ;
    outline-color:rgba(0, 111, 149, 0.3) ;
    transition: 0.5s;
}


@media (max-width:400px){
    .generated-hand h3 {
        margin: 20px;
    }
    .handpicked h3 {
        margin: 20px auto;
       
    }
    .hand-wapper {
        padding: 0 20px;
    }
    
}


@media(min-width:700px){
        .Rules-container{
            position: absolute;
            min-width: 400px;
            margin: 200px auto;
            height: fit-content;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .rules-wapper {
            position: relative;
        }
        .rules-wapper header {
            display: block;
            grid-template-columns:repeat(3,1fr);
            margin: 0;
            padding: 0;
            width: fit-content;
            height: 500px;
            margin: 0 auto;
            place-items:start ;
            
        }
        .rules-wapper header h2 {
            margin: 20px 20px;
            position: absolute;
            left: 20px;
        }
        .cross {
            margin: 20px;
            margin: 20px auto;
            position: absolute;
            right: 30px;
            top: 10px;
            

        }
        .rules img{
            width: 100%;
        }

        .rules {
            position: absolute;
            bottom: 160px;
            left: 50px;
        }
        
        .container{
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .advanced-rules-wapper{
            width: 400px;
            height: fit-content;
            padding: 0;
            
        }
        .ad-cross {
            position: absolute;
            right: 20px;
            top: 0;
        }
        .advanced-rules-wapper header h2 {
            position: absolute;
            left: 30px;
            top: 10px;
        }
        .intermediate {
            margin: 0 auto;
        }
        .changebtn {
            margin-right: 0px;
        }
        .ad-rules img {
            width: 100%;
            padding: 20px;
        }
        .compete {
           display: grid;
        }
    }